email=stevess@jfrog.com
always-auth=true
registry=https://strategicuswest.jfrog.io/artifactory/api/npm/npm-remote/
//strategicuswest.jfrog.io/artifactory/api/npm/npm-remote/:_auth="c3RldmVzczpBUEFYamRlY3Zld1ZlR0hlUE1wQUwzaERXV3g="
