email = stevess@jfrog.com
always-auth = true
registry=https://customersuccess.jfrog.io/artifactory/api/npm/npm-remote/
//customersuccess.jfrog.io/artifactory/api/npm/npm-remote/:_authToken=cmVmdGtuOjAxOjE3NzQzODI3MDc6bWlxdXlObFpNUEhNVXh0ZmZsbzVUc0tzckFM